{% extends 'baseBack.html.twig' %}
{% block title %}Tables
{% endblock %}

{% block body %}
	<br><br><br>
	<h1>List of Tables</h1>

	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th scope="col" class="fw-bold bg-dark text-light">
					Table Number</th>
				<th scope=" col" class=" fw-bold bg-dark text-light">Isoccupied</th>
				<th scope=" col" class=" fw-bold bg-dark text-light">
					Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for restauranttable in restauranttables %}
				<tr>
					<td>{{ restauranttable.tableid }}</td>
					<td>{{ restauranttable.isoccupied }}</td>
					<td class="actions ">
						<div class="btn-group" role="group">
							<a href=" {{ path('app_restauranttable_show', {'tableid': restauranttable.tableid} ) }}" class=" btn btn-info text-light">
								Show</th>
							<a href="{{ path('app_restauranttable_edit', {'tableid': restauranttable.tableid}) }}" class="btn btn-dark text-light">Edit</a>
							<a href="{{ path('app_restauranttable_delete', {'tableid': restauranttable.tableid}) }}" class="btn btn-danger text-light">Delete</a>
						</div>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">No records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</tbody>
</table>
<br><br><br>
<a href="{{ path('app_restauranttable_new') }}" class="btn btn-primary btn-lg btn-block  btn-lg text-light">Add</a>{% endblock %}
