{% extends 'baseBack.html.twig' %}


{% block title %}Reservation index
{% endblock %}
{% block body %}
	<br><br>
	<h1>
		List of Reservations</h1>
	<br><br>

	<table class="table table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th scope="col" class="fw-bold bg-dark text-light">Reservationid</th>
				<th scope="col" class="fw-bold bg-dark text-light">Datetime</th>
				<th scope="col" class="fw-bold bg-dark text-light">Numberofpersons</th>
				<th scope="col" class="fw-bold bg-dark text-light">
					Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for reservation in reservations %}
				<tr>
					<td>{{ reservation.reservationid }}</td>
					<td>{{ reservation.datetime ? reservation.datetime|date('Y-m-d H:i:s') : 'N/A' }}
					</td>
					<td>{{ reservation.numberofpersons }}</td>
					<td class="actions">
						<a href="{{ path('app_reservation_show', {'reservationid': reservation.reservationid}) }}" class="btn btn-info text-light "><br>
							Show</a>
						<a href="{{ path('app_reservation_edit', {'reservationid': reservation.reservationid}) }}" class="btn btn-dark text-light">Edit</a>
						<br>
						<a href="{{ path('app_reservation_delete', {'reservationid': reservation.reservationid}) }}" class="btn btn-danger text-light">Delete</a><br>

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br><br><br>
	<a href="{{ path('app_reservation_new') }} " class=" btn btn-primary btn-lg btn-block btn-lg text-light">
		Add
	</a>
{% endblock %}
