<!DOCTYPE html>

<title>Reservation index</title>

{% block body %}
	<h1>Reservation index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Reservationid</th>
				<th>Datetime</th>
				<th>Numberofpersons</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for reservation in reservations %}
				<tr>
					<td>{{ reservation.reservationid }}</td>
					<td>{{ reservation.datetime ? reservation.datetime|date('Y-m-d H:i:s') : 'N/A' }}
					</td>
					<td>{{ reservation.numberofpersons }}</td>
					<td>
						<a href="{{ path('app_reservation_show', {'reservationid': reservation.reservationid}) }}">show</a>
						<a href="{{ path('app_reservation_edit', {'reservationid': reservation.reservationid}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_reservation_new') }}">Create new</a>
{% endblock %}
