{% extends 'baseBack.html.twig' %}

{% block title %}
	Reservation
{% endblock %}

{% block body %}

<br><br><br>
<h1>Reservation</h1>
<br><br><br>


{% block body %}
	<h1></h1>

	<table class="table table-striped table-bordered table-hover ">
		<tbody>
			<tr>
				<th>Reservationid</th>
				<td>{{ reservation.reservationid }}</td>
			</tr>
			<tr>
				<th>Datetime</th>
				<td>{{ reservation.datetime ? reservation.datetime|date('Y-m-d H:i:s') : 'N/A' }}
				</td>

			</tr>
			<tr>
				<th>Numberofpersons</th>
				<td>{{ reservation.numberofpersons }}</td>
			</tr>
		</tbody>
	</table>

	<div>
		<a href="{{ path('app_reservation_index') }}" class="btn btn-dark ">Back to list</a>
		<a href="{{ path('app_reservation_edit', {'reservationid': reservation.reservationid}) }}" class="btn btn-outline-warning ml-2">
			Edit</a>
		<div style="display: inline-block; vertical-align: top;">
			{{ include('reservation/_delete_form.html.twig') }}
		</div>
	</div>


	<a href="{{ path('app_reservation_index') }}" class="btn btn-dark">back to list</a>
{% endblock %}
