<!DOCTYPE html>

<title>Reservation</title>

{% block body %}
	<h1>Reservation</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Reservationid</th>
				<td>{{ reservation.reservationid }}</td>
			</tr>
			<tr>
				<th>Datetime</th>
				<td>{{ reservation.datetime ? reservation.datetime|date('Y-m-d H:i:s') : 'N/A' }}
				</td>

			</tr>
			<tr>
				<th>Numberofpersons</th>
				<td>{{ reservation.numberofpersons }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_reservation_index') }}">back to list</a>

	<a href="{{ path('app_reservation_edit', {'reservationid': reservation.reservationid}) }}">edit</a>

	{{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
